<div class="jumbotron" id="container">
    <h1>Bienvenidos a {{Variables.AppName}}</h1>
<p>Este portal te permite revisar nuestro cat&aacute;logo de productos. Puede empezar haciendo click
<a href="products?topic="> aqu&iacute; <span class="glyphicon glyphicon-book"></span></a>.</p>
<p>Para buscar alg&uacute;n producto puedes escribir en el cuadro de busqueda, por ejemplo:</p>
<p class="">
    <code><a href="products?topic=vitara">Vitara</a>, <a href="products?topic=corsa">Corsa</a>, <a href="products?topic=6203-2rs">6203-2rs</a>, <a href="products?topic=6004">6004</a>, <a href="products?topic=corolla">Corolla</a>, <a href="products?topic=gol">Gol</a>, etc. </code>
</p>
<p>Tambi&eacute;n puedes buscar por medidas, por ejemplo:</p>
<p>
<code><a href="products?topic=39x72x37">39x72x37</a>, <a href="products?topic=15x42x13">15x42x13</a>, <a href="products?topic=17x40">17x40</a>, etc.</code>
</p>
<p>Si buscas una rolinera o estopera con una medida externa, sin importar lo interlo y la altura puedes probar:</p>
<p>
<code><a href="products?topic=x40x">x40x</a>, <a href="products?topic=x20x">x20x</a>, etc.</code>
</p>
<p>Si necesitas alg&uacute;n producto que no consigas en este portal &oacute; m&aacute;s informaci&oacute;n, no dudes en escribirnos.
    <a href ="mailto:{{Variables.Email}}?Subject=Información" target = "_blank"> {{Variables.Email}} </a>    
</p>
</div>

<div class="container-fluid bg-3 text-center">    
    <h3>Hacemos env&iacute;os mediante las empresas...</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>MRW</p>
      <img class="center-block" src="img/logos/logo_mrw.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>DOMESA</p>
      <img class="center-block" src="img/logos/logo_domesa.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>TEALCA</p>
      <img class="center-block" src="img/logos/logo_tealca.gif" class="img-responsive" style="width:60%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>GRUPO ZOOM</p>
      <img class="center-block" src="img/logos/logo_zoom.gif" class="img-responsive" style="width:40%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <h3>Puede hacer sus pagos a cualquiera de los siguientes bancos...</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Banesco</p>
      <img class="center-block" src="img/logos/logo_banesco.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Banco de Venezuela</p>
      <img class="center-block" src="img/logos/logo_venezuela.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Mercantil</p>
      <img class="center-block" src="img/logos/logo_mercantil.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
    <div class="col-sm-4">
        <p>Fondo Com&uacute;n</p>
      <img class="center-block" src="img/logos/logo_bfc.gif" class="img-responsive" style="width:40%" alt="Image">
    </div>
      <div class="col-sm-4">
          <p>Banco nacional de cr&eacute;dito</p>
      <img class="center-block" src="img/logos/logo_bnc.gif" class="img-responsive" style="width:80%" alt="Image">
    </div>
      <div class="col-sm-4">
          <p>Mercado Pago</p>
      <img class="center-block" src="img/logos/logo_mercadopago.gif" class="img-responsive" style="width:40%" alt="Image">
    </div>
  </div>
</div><br>







