<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalUniqueItems() === 0">
    Nada en el pedido...
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalUniqueItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Cant.</th>
            <th  ng-show="isLocal"  width="150" class="text-right">Precio</th>
            <th  ng-show="isLocal"  width="200" class="text-right">Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Imp ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency: 'Bs.' }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency: 'Bs.' }}</td>
        </tr>
        <tr style="font-weight: bold;"   >
            <td></td>
            <td>       	
            	<div ng-show="ngCart.getTotalItems()>0">{{ngCart.getTotalItems()}} <ng-pluralize  count="ngCart.getTotalItems()" when="{1: 'producto', 'other':'productos'}"></ng-pluralize></div><br>
     		</td>
            <td></td>
            <td ng-show="isLocal" class="text-right">Total:</td>
            <td ng-show="isLocal" class="text-right">{{ ngCart.totalCost() | currency: 'Bs.' }}</td>
        </tr>
        <tr ng-show="ngCart.totalCost()<200000" style="font-weight: bold;  "   >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           <!-- <td ng-show="isLocal" class="text-right text-warning">Total IVA 10%:</td>
            <td ng-show="isLocal" class="text-right text-warning">{{ ngCart.totalCostIVA()| currency: 'Bs.' }}</td> -->
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
        
            <td><h4><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></h4></td>

            <td width="50%">
            <h4 > {{item.getName() | ucwords}}
	            <small ng-show="(item.getData().medidas)!=''"> ({{item.getData().medidas}}) </small>
	        </h4>	
            <h4>
				Cod: {{item.getData().codigo}}
				<small ng-show="(item.getData().referencia)!=''" > Ref: {{item.getData().referencia}} </small>{{item.getData().marca}}
			</h4>	
 			<h4>
				<small ng-show="(item.getData().detalles)!=''" ><i> {{item.getData().detalles | ucwords}}</i></small>
			</h4>	
            
            </td>
            <td >
                       
            	<span ng-model="exist" class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()<=0 }"
                      ng-click="item.setQuantity(-1, true)"></span>
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-class="{'disabled':item.getQuantity()>=100}"
                ng-click="item.getQuantity() <= 100 ? item.setQuantity(1, true): '' "></span>
                <h5  ng-show="isLocal || isAdmin"  title="Disponible en inventario" ng-class="item.getData().existencia>0 ? 'text-success' : 'text-danger'">{{ajust_exist ? item.getQuantity() : item.getData().existencia | number : 0}}</h5>	    		 
	   		
            </td>
            
            <td width="15%"  ng-show="isLocal"  class="text-right">
            
            		
            		<div class="row">
					    <div class="input-group">
					       <input 		
					      				class="form-control"
					      				onkeypress='return event.charCode >= 48 && event.charCode <= 57'
					       	    		onClick="this.setSelectionRange(0, this.value.length)"
					            		ng-model="price" 
					            		ng-change="item.setPrice(price)" 					            		
					            		size="20" 					            		
					            		ng-value="{{ item.getPrice() }}">
					            	
					      <span class="input-group-btn">
					       <ngcart-checkout ng-click="ajust_price" service="price" settings="{ url:Variables.ApiUrl + '/cart/price', price:price, item_id:item.getId(), dolartoday: dolartoday}"></ngcart-checkout>
					     
					      </span>
					    </div>
					  </div>
					
			<del ng-show="item.getData().precio_dolar > item.getData().precio1/dolartoday"><h6 ng-model="ajust_price" ng-class="item.getData().meses_modificacion <= 1 ? 'text-success' : 'text-warning'">{{ajust_price ? price : item.getData().precio1 | roundPrice | currency:'Bs. '}}
    		<span title="{{{true: 'Actualizado recientemente.', false: 'Modificado hace ' + item.getData().meses_modificacion +' meses'}[item.getData().meses_modificacion <= 1]}}" 
    		ng-class="item.getData().meses_modificacion <= 1 ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-warning-sign'"></span>
            <span ng-show="Variables.DolarToday"  title="DolarToday {{dolartoday | currency:'Bs. '}}" style="color: black; font-size: 11px;"> {{item.getData().precio1/dolartoday | currency:'$'}} </span>
            </h6></del>         	
           	<h6 ng-show="item.getData().precio_dolar < item.getData().precio1/dolartoday" ng-model="ajust_price" ng-class="item.getData().meses_modificacion <= 1 ? 'text-success' : 'text-warning'">{{ajust_price ? price : item.getData().precio1 | roundPrice | currency:'Bs. '}}
    		<span title="{{{true: 'Actualizado recientemente.', false: 'Modificado hace ' + item.getData().meses_modificacion +' meses'}[item.getData().meses_modificacion <= 1]}}" 
    		ng-class="item.getData().meses_modificacion <= 1 ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-warning-sign'"></span>
            <span ng-show="Variables.DolarToday"  title="DolarToday {{dolartoday | currency:'Bs. '}}" style="color: black; font-size: 11px;"> {{item.getData().precio1/dolartoday | currency:'$'}} </span>
            </h6><!--
           <h6 ng-show="(isLocal || isAdmin) && dolartoday!=''"  >{{item.getData().precio1/dolartoday | currency:'$'}}
    		<span   title="DolarToday {{dolartoday | currency:'Bs. '}}"
    		class="glyphicon glyphicon-warning-sign"></span></h6>
            -->
            <h6 ng-show="(isLocal || isAdmin) && item.getData().precio_dolar>0 && Variables.DolarToday"  >{{item.getData().precio_dolar*dolartoday | roundPrice | currency:'Bs.'}}
            <span ng-show="Variables.DolarToday"   title="Precio calculado con DolarToday actual {{dolartoday | currency:'Bs. '}}"	class="glyphicon glyphicon-warning-sign"></span>
			<span ng-show="Variables.DolarToday"   title="Precio dolarizado con DolarToday a {{item.getData().dolar_today | currency:'Bs. '}} al {{item.getData().fechamodifi | date:'dd/MM/yyyy' }}" style="color: black; font-size: 11px;">{{item.getData().precio_dolar | currency:'$'}}</span>
			
            </h6>		
  					
            </td>
            
            
            <td width="15%" ng-show="isLocal"  class="text-right">{{ item.getTotal() | currency : 'Bs. ' }}</td>
            
        </tr>
        </tbody>
    </table>
</div>

<hr>

<ngcart-checkout  ng-show="isLocal"  service="sale" settings="{ url:Variables.ApiUrl + '/cart/sale' }"></ngcart-checkout>
<!--<ngcart-checkout  ng-show="isLocal"  service="sale2" settings="{ url:Variables.ApiUrl + '/cart/sale_iva' }"></ngcart-checkout>-->
<ngcart-checkout  ng-show="isLocal"  service="save" settings="{ url:Variables.ApiUrl + '/cart/save' }"></ngcart-checkout>
<!-- 
<button ng-show="isLocal" class="btn btn-primary btn" type="button" ng-click="openRegister(product)">Cliente</button>				 
	 -->	
  		
<ngcart-checkout  ng-show="!isLocal" service="inquire" settings="{ url:Variables.ApiUrl + '/cart/inquire' }"></ngcart-checkout>
<ngcart-checkout  ng-show="isLocal"  ng-click="ajust_exist" service="exist" settings="{ url:Variables.ApiUrl + '/cart/exist', isAdmin:isAdmin }"></ngcart-checkout>


<hr>

<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>